/* * {
    border-radius: 10px !important;
} */

.home-brand {
    color: white !important
}

.home-brand:hover {
    color: rgb(211, 208, 208) !important
}

.cursor {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.openModal {
    background: rgba(44, 57, 75, 0.7);
}

.btn-xs {
    height: 25px;
    padding-top: 2px;
}

.project-details { 
    font-size: 15px;
    line-height: 19px;
    overflow: hidden;
}

.slide-open{ 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.a-button {
    color: white !important; 
}